<h2>Students</h2>
<h2>Student Index</h2>

  <% @students.each do |student| %>
<button><%= link_to student.name, student%></button>
  <% end %>

profile pic

profile container with student name

<div class="container" id="">


</div>
