<section id="studentIndex">
    <h1 class="page-header">Students</h1>
    <div class="index">
      <ul class="grid">
        <li><% @users.each do |user| %>
          <%= link_to image_tag(user.img_url), user_path(user) %></li>
          <%end%>
        </ul>
      </div>
    </section>
