
<div class="page-content-wrapper">
  <h1 class="page-header">Student Index</h1>


  <% @students.each do |student| %>
<button><%= link_to student.name, student%></button>
  <% end %>



<button><%= link_to "Add Student", new_student_path(@student)%></h2></button>



</div>
