<div id="studentIndex">
  <div class="page-content-wrapper">
    <h1 class="page-header">Student Index</h1>
    <div class="index">
      <% @students.each do |student| %>
      <%= link_to student_path(student) do  %>
      <%= image_tag(student.img_url) %>
      <figcaption> <%= student.name %> </figcaption>
      <%end%>
      <% end %>
    </div>
  </div>
</div>
