<section id="studentIndex">
    <h1 class="page-header">Students</h1>
    <div class="index">
      <ul class="grid">
        <li><% @students.each do |student| %>
          <%= link_to image_tag(student.img_url), student_path(student) %></li>
          <%end%>
        </ul>
      </div>
    </section>
