<h2>Students</h2>
<h2>Student Show</h2>

<h2> Student Profile Page</h2>

<div>
profile pic
</div>


<div class="container" id="">
name
quote
social links
contact info
</div>



<h3>Image gallery - based off tags they are included in </h3>
