<h2>instructor Index</h2>
<div class="index">
  <% @instructors.each do |instructor| %>
  <%= link_to image_tag(instructor.img_url), instructor_path(instructor) %>
  <%=instructor.name%>
  <% end %>
</div>
