<h2>instructor Index</h2>

<button><%= link_to "Add", new_instructor_path(@instructor)%></h2></button>

<div class="index">
<% @instructors.each do |instructor| %>
  <%= link_to image_tag(instructor.img_url), instructor_path(instructor) %>
  <% end %>
</div>
