
  <div class="page-content-wrapper">
    <h1 class="page-header">Instructors</h1>
      <ul class="grid">
        <div class="thumbnail-grid index">
          <% @instructors.each do |wdier| %>
          <%= link_to image_tag(wdier.img_url), wdier_instructor_path(instructor) %>
          <figure class="i1">
            <figcaption><%= wdier.name %></figcaption>
          </figure>
          <%end%>
        </div>
      </ul>
    </div>
  </div>
