<h2>instructor Index</h2>

  <div class="circle">
    <!-- <figure> -->
        <!-- <div class="bg8"></div> -->
        <% @instructors.each do |instructor| %>
          <%= link_to image_tag(instructor.img_url), instructor_path(instructor) %>
        <caption class="caption circle-caption">
    <%=instructor.name%>
</caption>
      <!-- </figure> -->

  <% end %>
  </div>
  </div>
