<h2>instructors</h2>
<h2>instructor Index</h2>




<button><%= link_to "Add it here!", new_instructor_path(@instructor)%></h2></button>


<% @instructors.each do |instructor| %>
<button><%= link_to instructor.name, instructor%></button>
<% end %>
