<section id="instructorIndex">
  <div class="page-content-wrapper">
    <h1 class="page-header">Instructors</h1>
    <div class="index">
      <ul class="grid">
        <% @instructors.each do |instructor| %>
        <%= link_to image_tag(instructor.img_url), instructor_path(instructor) %>
        <% end %>
      </ul>
    </div>
  </div>
</section>
