
<h1><%= @instructor.name %></h1>
 <%= image_tag @instructor.img_url %>
 <h2><%= @instructor.squad_name %></h2>
 <p> Squad team members</p>

<!-- need to get correct show controller syntax to show students equal the instructors squad_id  -->


 <!-- code  students each do |student|
image and link to the students in the squad -->
