<style>
@charset "utf-8";
<div class=userAvatar
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-style : Solid;
  border-color : #000000;
  border-color : rgba(0, 0, 0, 1);
  border-width : 1px;
  position : absolute ;
  left : 70px;
  top : 366px;
  width : 632px;
  height : 280px;
}
<div class=topContainer
{
  background : pink;
  background : rgba(255, 255, 255, 1);
  border-style : Solid;
  border-color : #000000;
  border-color : rgba(0, 0, 0, 1);
  border-width : 1px;
  position : absolute ;
  left : 294px;
  top : 22px;
  width : 185px;
  height : 185px;
}
<div class=photoGallery
{
  background : blue;
  background : rgba(255, 255, 255, 1);
  border-style : Solid;
  border-color : #000000;
  border-color : rgba(0, 0, 0, 1);
  border-width : 1px;
  position : absolute ;
  left : 70px;
  top : 83px;
  width : 632px;
  height : 283px;
  border-radius : 12px;
  -moz-border-radius : 12px;
  -webkit-border-radius : 12px;
}
<div class=row1
{
  background : #FF1500;
  background : rgba(255, 21, 0, 1);
  border-style : Solid;
  border-color : #000000;
  border-color : rgba(0, 0, 0, 1);
  border-width : 1px;
  position : absolute ;
  left : 70px;
  top : 352px;
  width : 632px;
  height : 35px;
}
<div class=row2
{
  background : #FF1500;
  background : rgba(255, 21, 0, 1);
  border-style : Solid;
  border-color : #000000;
  border-color : rgba(0, 0, 0, 1);
  border-width : 1px;
  position : absolute ;
  left : 70px;
  top : 630px;
  width : 632px;
  height : 35px;
}
<div class=commentGallery
{
  background : yellow;
  background : rgba(255, 255, 255, 1);
  border-style : Solid;
  border-color : #000000;
  border-color : rgba(0, 0, 0, 1);
  border-width : 1px;
  position : absolute ;
  left : 70px;
  top : 647px;
  width : 632px;
  height : 280px;
}
</style>



<div class="userAvatar">

  <div class="topContainer">
  </div>
</div>
<div class="row1">
</div>
<div class="photoGallery">


</div>
<div class="row2">

  <div class="commentGallery">
  </div>
</div>
