
<div class="inner">
  <section id="studentIndex">
    <h1 class="page-header">Wdiers</h1>
    <div class="thumbnail-grid index">

      <% @wdiers.each do |wdier| %>
      <%= link_to image_tag(wdier.img_url), wdier_path(wdier) %>
      <figure class="i1">
        <figcaption><%= wdier.name %></figcaption>
      </figure>
      <%end%>
    </div>
  </section>
</div>
</div>
</div>
