<style>
#form {
  margin-top: 400px;
  height: 1000px;
}

#form .fill{
  height: 800px;
  width: 600px;
  background: red;
  color: #000;
}
</style>
<div class="row text-center">
  <%= form_for(Photo.new) do |f| %>
    <div class="large-10 large-centered columns">
      <%= f.text_field :img_url, placeholder: "Enter the photo URL" %>
    </div>
    <div class="large-10 large-centered columns">
      <%= f.text_field :all_tags, placeholder: "Enter your tags, separated with commas" %>
    </div>
    <div class="large-10 large-centered columns">
      <%= f.submit "Post", class: "button"%>
    </div>
  <% end %>
</div>
