<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../dist/css/lightbox.min.css">
  <script scr="assets/stylesheets/lightbox2-master/dist/js/lightbox.min.js"></script>
<h1> WDI 8 Photo Gallery </h1>

<div class="page-header"><h1>Photos</h1></div>

<div class="row">
  <div class="large-8 columns">
    <%= render partial: "photos/new" %>
  </div>
</div>

<div id="tag_cloud">
  <!-- tag_cloud Photo.tag_counts, %w[s m l] do |tag, css_class| -->
  <!-- link_to tag.name, tag_path(tag), css_class -->
  <!-- end -->
</div>

<section id="photo">
  <div class="photoGallery">
    <div class='imgGalleryContainer'>
      <div class='imgGallery' name='Yearbook Images'>
    <img src='http://i36.photobucket.com/albums/e21/lithium_green/yearbook.gif'>
  </div>
    <div class='imgGalleryExpanded'>
        <div class='galleryImgs'>
<h2>Pics Please</h2>
<!-- <ul>
  <li> -->
  <% @photos.each do |photo| %>
  <%= image_tag photo.url %>
  <p>Tags: <%= raw photo.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(", ") %>
<% end %>
<%= render @photos %>


  <!-- </li>
  </ul> -->
</div>
</div>
</div>
</div>
</section>
