<section class="photoIndex">
  <div class="container">
    <div class="inner-shadow brand"><h4>Photos</h4>
      <h4> WDI 8 Photo Gallery </h4></div>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <%= render partial: "photos/new" %>
        </div>
      </div>
    </div>

    <!-- <div id="tag_cloud"> -->
    <!-- tag_cloud Photo.tag_counts, %w[s m l] do |tag, css_class| -->
    <!-- link_to tag.name, tag_path(tag), css_class -->
    <!-- end -->
    <!-- </div> -->
    <section id="photo">
      <div class="index">
        <div class="photoGallery">
          <div class='imgGalleryContainer'>
            <div class="thumbnail">
              <ul>
                <li><% @photos.each do |photo| %>
                  <%= link_to image_tag(photo.img_url), photo_path(photo)%>
                  <%= render @photos %></img>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
