<div class="wrapper" ng-app="app" ng-controller="GalleryController">
  <h1>Gallery</h1>
  <div ng-repeat="image in images" class="tile" ng-click="launchDetail(image)">
    <div class="aspect ratio-1x1" ng-style="{'background-image': 'url('+image.url+')'}">
      <div ng-if="image.comments.length > 0" class="corner">
        <span class="count">{{image.comments.length}}</span>
      </div>
    </div>
  </div>

  			<div id="overlay">
    <div id="imageView">
      <div class="img" ng-style="{'background-image': 'url('+detail.url+')'}"></div>
    </div>
			    <div id="sidebar">
       <div class="headBar"><button type="button" class="close" ng-click="closeDetail()"><span class="fa fa-times"></span></button></div>
       <br/>
       <div class="userHead">
         <div class="img">
           <div class="avatar"></div>
         </div>
         <div class="info">
           <div><a ng-href="{{detail.link}}" target="_blank">{{detail.author}}</a></div>
           <div class="title">{{detail.title}}</div>
         </div>
       </div>


       <br/><br/>
            <div class="commentHead">Comments</div>
            <div ng-repeat="comment in detail.comments" class="comment">
              <div class="user">{{comment.username}}</div>
              <div class="msg">{{comment.message}}</div>
            </div>
    </div>
			  </div>
</div>
